*{
    font-family: 'Raleway', sans-serif;
}

header{
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

form a{
    color: white;
    text-decoration: underline;
}

a:hover{
    cursor: pointer;
    color: #c61870;
}

.btn-primary:hover{
    background-color: white;
    color: #c61870;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-weight: 900;
    margin-bottom: 20px;
}

.light-back-text{
    color: #202020;
    font-weight: 500;
}

#appointment{
    margin-top: 50px;
}

.nav-row{
    width: 100%;
}

.nav-item{
    font-weight: 800;
    font-size: 1.2em;
    margin-left: 20px;
}

.navbar{
    background-color:white;
}
.navbar-toggler{
    color:  #c2c2c2;
}

.navbar a{
    color: #2c4491;
}

.navbar a:hover{
    color: #c61870;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
}

#szkolenia{
    background-color: #c61870;
    color: white;
    border-radius: 5%;
    letter-spacing: 0.2em;
}

#szkolenia:hover{
    background-color: #2c4491;
}

.slogan{
    text-align: center;
    margin-bottom: 75px;
    color: white;
}

.cont-form{
    padding-top: 100px;
    padding-bottom: 100px;
}

#pinktext{
    color:#c61870;
}

.div-services{
    display: flex;
    /* max-height: 100vh; */
    background-image: url("../img/foot5.jpg");
    background-size: cover;
    background-position: 0vh;
    justify-content: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
}

.row-services{
    padding: 20px;
    /* background-color: rgba(0,0,0, 0.1); */
}

.row-services p{
    color: white;
    font-weight: 400;
}

.row-services h4{
    color: white;
    font-weight: 900;
}

.service{
    text-align: center;
}

.service h4{
    color: #c61870;
}

.service-logo{
    width: 150px;
    margin-bottom: 20px;
}

.div-zdjecie{
    min-height: 400px;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: bottom;
    /* background-color:rgba(44, 68, 135, 1); */
    /* background-image: linear-gradient(to top, #1863ab , #ffa2ef); */
    padding-top: 50px;

}

.dolacz{
    /* background-color: red; */
    background-color: rgba(44, 68, 135, 9);

}
.claim{
    /* background-color: green; */
    /* padding-right: 50px;
    padding-left: 50px; */
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.portrait{
    width: 500px;

}

.formularz{
    padding: 20px;
}

.formularz p{
    font-size: 15px;
}

#dolacz-text-small{
    margin-bottom: 0px;
}

.form-group{
    color: #c2c2c2;
}

.form-header{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
}

.dolacz-ikona{
    font-size: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #c61870;
}

.form-control{
    padding: 20px;
}

#exampleFormControlTextarea1{
    height: 200px;
}

.zapisz{
    width: 100%;
}

.rodo{
    margin-top: 10px;
    color: white;
}

.fa-chevron-right{
    margin-left: 10px;
}

.dolacz-text{
    /* padding-left: 40px; */
}



.claim-content{
    background-color: transparent;
    align-content: center;
    
}

.card{
    background-color: transparent;
    border: 0px;

}

.card-body{
    padding-bottom: 0px;
}

.photo{
    text-align: center;
    color: #202020;
}

.card-title{
    color: #202020;
    font-size: 36px;
    margin-bottom: 40px;
}

.card-text{
    color: #202020;
    font-size: 18px;
    font-weight: 500;
}

.btn-primary{
    color: white;
    background-color: #c61870;
    border: 0px;
    padding: 15px;
}

.btn-secondary{
    background-color: rgba(0, 0, 0, 0.35);
    border: 0px;
    padding: 15px;
    color: #c2c2c2;
}



.inspire-row{
    height: 500px;
    display: flex;
    align-items: center;
}

.inspire-vid{

    padding-left: 50px;
    padding-right: 50px;

}


footer{
background-color: #2c4491;
padding-top: 20px;
padding-bottom: 20px;
text-align: center;
color: white;
}

.about{
    padding-top: 20px;
    padding-left: 100px;
}

footer h3{
    color: #2c4491;
}

footer p{
    margin-bottom: 0px;
}

footer a{
    color: #c61870;
}

.fa-check{
    color: #c61870;
    margin-right: 10px;
}

.fa-envelope{
    margin-right: 20px;
}

.fa-phone{
    margin-right: 20px;
}

.about i{
    /* margin-right: 20px; */
}

.contact-header{
    margin-bottom: 50px;
    color: #202020;
}

.about h4{
    margin-bottom: 30px;
}

.about h4 a{
    color: #2c4491;
}

@media only screen and (max-width: 768px){
    #logo{
        width: 100%;
    }

#logo-div{
    display: flex;
    justify-content: center;
}

    .portrait{
        width: 100%;
    }

    .about{
        padding-left: 10px;
    }

    .about h4{
        font-size: 1em;
    }
}