#name:hover{
    background-color: blue;
    border: 5px solid yellow;
}

#send:focus{
    color: green;
    background-color: black;
}

.customer:first-child{
    color: pink;
}

.customer:nth-child(3){
    background-color: blueviolet;
}

.customer:nth-last-child(5){
    padding: 50px;
    color: brown;
    text-transform: uppercase
}

.customer:nth-child(4n-3){
    background-color: blue;
}