div{
    height: 100px;
    width: 300px;
}

#predefined-colors{
    background-color: lightsalmon;
}

#hexadecimal-colors{
    background-color: #123456;
}

#short-hexadecimal-colors{
    background-color: #420;
}

#rgb-function{
    background-color: rgb(112, 19, 203);
}

#rgba-function{
    background-color: rgba(24, 42, 141, 0.4)
}