
img{
    height: auto;
    width: 400px;
    margin-bottom: 150px;
    transition: all 1s;
}

.rotate img:hover{
    transform: rotate(27deg);
}

.translate img:hover{
    transform: translate(100px, 100px);
}

.scale img:hover{
    transform: scalex(2);
    margin-left: 300px;
}

.animation img{
    animation-name: animag;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animag{

    0%{
        width: 400px;
    }
    50%{
        width: 90%;
    }

    70%{
        transform: rotate(76deg);
    }
    100%{
        width: 400px;
    }
}