*{line-height: 30px}

*{
    color:#ffffff;
}

div#formularz{
    background-color: #213b50;
    width: 600px;
    padding: 20px;
}

input{
    background-color: #2b4a64;
    border: none;
    font-family: sans-serif;
}

input:focus{
    background-color: #4e708c;
    outline-color: white;
}

select{
    background-color: #2b4a64;
    width: 300px;
    border: none;
    padding: 5px;
    font-family: sans-serif;
}

textarea{
    background-color: #2b4a64;
    width: 300px;
    height: 100px;
    border: none;
    font-family: sans-serif;
    outline-color: white;
}

input[type="submit"]{
    background-color: darkseagreen;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;   
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

input[type="text"]{
    width: 300px;
}

input[type="email"]{
    width: 300px;
}

input[type="tel"]{
    width: 300px;
}
