.container{
        border: 2px solid red;
        display: flex;
        justify-content: space-evenly;
        align-content: stretch;
        flex-wrap: wrap;
        height: 700px;
}

.flex-item{
    background-color: sandybrown;
    color: darkblue;
    border: 1px solid black;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    flex-basis: 30%;
    max-height: 200px;
    overflow: hidden;
}

.flex-item:nth-child(2n-1){
    background-color: orange;
    max-height: 100px;
    overflow: hidden;
}

