*{
    box-sizing:border-box;
}
body{
    background-color: darkgrey;
    
}

.box{
    font-size: 15px;
    width: 25%;
    padding: 30px;
    float: left;
    font-family: sans-serif;
    border: 10px solid magenta;
}

@media (max-width: 992px){
    .box{
        width: 50%;
        background-color: navy;
        color: yellow;
        font-size: 13px;
    }
}

@media (max-width: 768px){
    .box{
        width: 100%;
        background-color: maroon;
        color: aliceblue;
        border: 1px solid orange;
    }
})