#background-img{
    background-image: url("../img/truskawka.jpg"), url("../img/sky.jpg");
    background-blend-mode: luminosity;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color:red
}