@import "zmienne";

header{
    h2{
        color: $font-color-1;
    }
    h6{
        color: $font-color-1;
    }
    a{
        color: $font-color-1;
    }
}


nav{
    padding-top: 15px;
    .row-nav{
        padding-left: 70px;
        padding-right: 100px;

    }
}

.nav-left{
    i{
        color: $font-color-2;
    }
    display: inline;
}

.nav-right{
    i{
        color: $font-color-1;
    }
}

.nav-right-left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i{
        font-size: 40px;
    }
}

.section-form{
    background-image: $back-photo;
    background-size: cover;
    background-position: center;
    padding-top: 15%;
    padding-bottom: 5%;
    .contact-form{
        padding: 20px 15px 20px 15px;
        background-color: $form-back-color;
        .leave-contact{
            color: $font-color-1;
            padding-bottom: 10px;
        }

        input, textarea{
            width: 100%;
            padding: 5px;
            font-size: 0.8em;
            margin: 5px;
        }
        .submit-button{
            background-color: $font-color-2;
            width: 100px;
            padding: 10px;
            margin: 5px;
            border: none;
            font-size: 1.2em;
            font-weight: 500;
            &:hover{
                background-color: $footer-back-color;
                color: $font-color-2;
            }
        }
    }
    .claim{
        color: $font-color-1;
        h4{
            padding-bottom: 15px;
        }
        span{
            color: $font-color-2;
        }
    }
}

footer{
    background-color: $footer-back-color;
    padding-top: 3em;
    padding-bottom: 2em;
    color: $font-color-1;
    .footer-item{
        margin-top: 1em;
    }

    .footer-icon{
        background-color: $font-color-2;
        color: black;
        display: inline-block;
        font-size: 20px;
        padding: 15px;
    }
    .footer-icon-text{
        padding-top: 10px;
    }

    .footer-bottom{
        padding-top: 25px;
        font-size: 0.8em;
    }
}

.mobile{
    background-color: transparent;
}


@media(max-width: 768px){
    header {
    .nav-right-right{
        display: none;
    }
    .row-nav{
        padding-left: 0px;
        padding-right: 0px;
    }
}
}
